:root {
	--pink: #f14e95;
	--bg: #0a0a0a;
	--shadow:0 2px 2px rgb(0 0 0 / 0.5);
}

body {
	font-size: 1.2rem;
	font-family: 'Work Sans', sans-serif;
	min-height: 2000px;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(banner.jpg) !important;
	background-size: cover;
	background-position: center;
	z-index: -1;
	filter: sepia(25%);
}

.hero {
	position: relative;
	min-height: 100vh;

}

.hero h1 {
	font-family: 'Bad Script', cursive;
	font-size: 4rem;
	text-shadow:0 2px 2px rgb(0 0 0 / 0.5);
}
.hero h4{
	font-size: 1.6rem;
	text-shadow:0 2px 2px rgb(0 0 0 / 0.5);
}
.hero p {
	font-size: 1.4rem;
	text-shadow:0 2px 2px rgb(0 0 0 / 0.5);
}
.hero a{
	color: var(--pink);
	background-color: white;
	box-shadow: var(--shadow);
}
.hero a:hover{
	background-color: var(--pink);
	color: white;
}

.mynavbar {
	background-color: rgb(255, 255, 255, 0.3) !important;
	backdrop-filter: blur(4px) ;
}
.mynavbar .offcanvas {
	height: 100vh;
}
.mynavbar .navbar-brand {
	font-family: 'Bad Script';
	font-size: 2rem;
	font-weight: bold;
} 
.mynavbar .offcanvas-title {
	font-family: 'Bad Script';
	font-size: 2rem;
	font-weight: bold;
}
.mynavbar .nav-link {
	text-transform: uppercase;
}

.home {
	background-image: url(p2.jpg);
	background-size: cover;
	min-height: 100vh;
	margin-top: -6rem;
	padding: 15rem;
	padding-bottom: 5rem;
}
.home h2,
.galeri h2 {
	color: var(--pink);
	font-family: 'Bad Script';
	font-size: 5rem;
	font-weight: bold;
}
.home h3 {
	color: #444;
	font-size: 4rem;
	margin-bottom: 1rem;
}
.home p {
	color: #666;
	font-size: 1.1rem;
}

.home .couple {
	margin-top: 100px;

}
.home .couple h3 {
	font-family: 'Bad Script';
	font-size: 2.4rem;
	color: var(--pink);
}
.home .couple img {
	width: 100%;
}

.info{
	background-color: var(--bg);
	color: white;
	padding-top:  10rem;
	padding-bottom: 8rem;
}
.info h2 {
	color: var(--pink);
	font-family: 'Bad Script';
	font-size: 5rem;
	font-weight: bold;
}
.info .alamat {
	font-size: 1.1rem;
}
.info .desc {
	font-size: 1rem;
	font-weight: 300;
}

.info .card {
	background-color: rgba(255,255,255,0.2) !important;
	color: white !important;
	border: 1px solid #999;
}

.info .card-header {
	border: 1px solid #999;
	text-transform: uppercase;
	letter-spacing: 0.1rem;

}

.info .card-body {
	font-size: 1rem;
}

.info .card-footer {
	border-top: 1px solid #999;
	font-size: 0.9rem;
	font-weight: 300;
}

.story {
	padding-top: 10rem;
	padding-bottom: 8rem;


}

.story span,
.galeri span {
	text-transform: uppercase;
	color: #666;
	font-size: 0.9rem;
	letter-spacing: 1px;
	display: block;
	margin-bottom: 1rem;
}
.story h2 {
	color: var(--pink);
	font-family: 'Bad Script';
	font-size: 5rem;
	font-weight: bold;
}
.story p,
.galeri p {
	font-size: 1rem;
	font-weight: 300;
}

.timeline {
	list-style: none;
	padding: 1.4rem 0;
	margin-top: 1rem;
	position: relative;
}
.timeline::before {
	content: '';
	top: 0;
	bottom: 0;
	position: absolute;
	width: 1px;
	background-color: #ccc;
	left: 50%;
}

.timeline li {
	margin-bottom: 1.5rem;
	position: relative;
}

.timeline li::before, 
.timeline li::after {
	content: '';
	display: table;

}

.timeline li::after {
	clear: both;
}

.timeline li .timeline-img {
	width: 160px;
	height: 160px;
	background-color: #ccc;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.timeline li .timeline-pnl {
	width: 40%;
	float: left;
	border: 1px solid #ccc;
	padding: 2rem;
	position: relative;
	border-radius: 8px;
	background-color: #fff;
}

.timeline li .timeline-pnl::before {
	content: '';
	display: inline-block;
	position: absolute;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	top: 70px;
	right: -15px;
}
.timeline li .timeline-pnl::after {
	content: '';
	position: absolute;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	top: 71px;
	right: -13px;
}
.timeline li.timeline-inverted .timeline-pnl {
float: right;
}
.timeline li.timeline-inverted .timeline-pnl::before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline li.timeline-inverted .timeline-pnl::after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -13px;
	right: auto;
}

.galeri {
	background-color: lightgrey;
	padding-top: 10rem;
	padding-bottom: 8rem;

}




@media (max-width: 1200px) {
	
}

/* laptop */
@media (max-width: 992px){
	html {
		font-size: 75%;
	}
	.simply-countdown>.simply-section {
		padding: 70px;
	}	

	.timeline::before {
		left: 60px;
	}
	.timeline li .timeline-img {
		left: 15px;
		margin-left: 45px;
		top: 16px;
	}
	.timeline li .timeline-pnl {
		width: calc((100% - 200px));
		float: right;
	}
	.timeline li .timeline-pnl::before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	.timeline li .timeline-pnl::after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -13px;
		right: auto;
	}
} 

/* tablet */
@media (max-width: 768px){
	html {
		font-size: 62.5%;
	}
	.simply-countdown>.simply-section {
		padding: 60px;
		margin: 5px;
	}
	.mynavbar .nav-link {
		font-size: 2rem;
		text-align: center;
	}
	.sticky-top {
		overflow: hidden;
	}
	.timeline li .timeline-img {
		width: 140px;
		height: 140px;

	}
} 

/* laptop */
@media (max-width: 576px){
	html {
		font-size: 60%;
	}
	.simply-countdown>.simply-section {
		padding: 45px;
		margin: 3px;
	}
	.timeline li .timeline-img {
		width: 80px;
		height: 80px;
	}
	.timeline li .timeline-pnl {
		width: 65%;
		transform: translateX(-20px);
	}
	.timeline li .timeline-pnl::before {
		top: 30px;
	}
	.timeline li .timeline-pnl::after {
		top: 31px;
	}
} 
